

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    /* background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.1), transparent, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.05), transparent, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.03) 3px), linear-gradient(0deg, rgb(85, 159, 230), rgb(230, 105, 196));
     */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* 
NAVBAE STARTS */


.navbar-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    color: rgb(179, 179, 62);
    animation: animate 1s infinite linear;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 
NAVBAR ENDS */




.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10em;
    margin-top: 4em;
}
#button {
    border-radius: 30%;
    cursor: pointer;
    padding: 12px;
    font-size: 15px;
    z-index: 1;
}

.signin {
    position:relative;
    width:100%;
    padding:10px;
    border-radius:6px;
    border:0;
    margin: .5em 0;
    background:#f26964;
    font-size:1.2em;
    color:#fff;
    text-shadow:1px 1px 0px rgba(0,0,0,.1);
    box-shadow:0px 3px 0px #c1524e;
  }
/* #logo {
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 25px;
    color: rgb(179, 179, 62);
    animation: animate 1s infinite linear;
} */
/* 
@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(180deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

#logo i {
    margin-right: 15px;
} */




/* left & right part */




/* song image */



/* both range slider part */

input[type="range"] {
    -webkit-appearance: none;
    width: 50%;
    outline: none;
    height: 3px;
    margin: 0 15px;
    background: linear-gradient(45deg, rgb(0, 132, 255), rgb(255, 0, 187));
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: linear-gradient(90deg, rgb(255, 0, 187), rgb(0, 132, 255));
    border-radius: 50%;
    cursor: pointer;
}

.right input[type=range] {
    width: 60%;
}


/* volume part */

/* .left .volume {
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
} */

/* .left .volume p {
    font-size: 15px;
} */

/* .left .volume i {
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 5px;
    background: linear-gradient(145deg, #4d8fcf, #5baaf6);
    box-shadow: 5px 5px 10px #4887c4, -5px -5px 10px #62b7ff;
} */

/* .volume #volume_show {
    padding: 8px 12px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    background: linear-gradient(145deg, #4d8fcf, #5baaf6);
    box-shadow: 5px 5px 10px #4887c4, -5px -5px 10px #62b7ff;
} */

/* .right .show_song_no {
    position: absolute;
    top: 95%;
    right: 6%;
    width: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    font-size: 20px;
} */
/* 
.right .show_song_no p:nth-child(2) {
    padding: 0px 5px;
} */

/* .right #title {
    position: absolute;
    top: 20%;
    width: 100%;
    display: inline;
    text-transform: capitalize;
    font-size: 35px;
} */

/* .right #artist {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    display: inline;
    transform: translateX(-50%);
    text-transform: capitalize;
    font-size: 18px;
} */


/* right part */

.right .middle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .middle button {
    border: none;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    margin: 0 10px;
}

.right .middle button#play {
    height: 70px;
    width: 70px;
}

.right_blue {
    background: linear-gradient(145deg, #4d8fcf, #5baaf6);
    box-shadow: 5px 5px 8px #4887c4, -5px -5px 8px #62b7ff;
}

.right_blue:hover {
    background: linear-gradient(145deg, #cf5fb0, #f670d2);
    box-shadow: 5px 5px 8px #c459a7, -5px -5px 8px #ff79e1;
}

.repeat {
    color: white;
    background: linear-gradient(145deg, #e7aae462, #885778);
    box-shadow: 5px 5px 8px #4887c4, -5px -5px 8px #62b7ff;
}


/* .repeat:hover{
	background: linear-gradient(145deg, #865f7b, #f670d2);
	box-shadow:  5px 5px 8px #c459a7,
             -5px -5px 8px #ff79e1;
} */

.shuffle {
    color: white;
    background: linear-gradient(145deg, #e7aae462, #885778);
    box-shadow: 5px 5px 8px #4887c4, -5px -5px 8px #62b7ff;
}

.selected {
    color: white;
    background: linear-gradient(145deg, #730cd49d, #3619da88);
    box-shadow: 5px 5px 8px #4887c4, -5px -5px 8px #62b7ff;
}

/* .shuffle:hover{
	background: linear-gradient(145deg, #c74dc1, #c44ac4);
	box-shadow:  5px 5px 8px #c459a7,
             -5px -5px 8px #ff79e1;
} */


.right_pink {
    background: linear-gradient(145deg, #cf5fb0, #f670d2);
    box-shadow: 5px 5px 8px #c459a7, -5px -5px 8px #ff79e1;
}

.right_pink:hover {
    background: linear-gradient(145deg, #4d8fcf, #5baaf6);
    box-shadow: 5px 5px 8px #4887c4, -5px -5px 8px #62b7ff;
}

.blue {
    background: #55b9f3;
    box-shadow: 8px 8px 16px #234c64, -8px -8px 16px #87ffff;
}
/* 
.right #auto {
    position: relative;
    font-size: 18px;
    cursor: pointer;
    margin-top: 45px;
    border: none;
    padding: 10px 14px;
    color: #fff;
    outline: none;
    border-radius: 10px;
} */

/* .right .duration {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20px;
    margin-top: 40px;
} */

/* .right i:before {
    color: #fff;
    font-size: 20px;
} */

.documentation {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


/* .documentation_page {
   
    background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.1), transparent, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.05), transparent, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.03) 3px), linear-gradient(0deg, rgb(230, 105, 196), rgb(85, 159, 230));
    
} */

.visits {
    display: flex;
    color: #000;
    bottom: 10px;
    position: fixed;
    gap: 50vw;
}

#about{
    color: white;
    cursor: pointer;
}



#list {
    overflow-y: scroll;
    height: 75vh;
    width: 100%;
}

#list a {
    display: flex;
    flex-direction: column;
    padding: 8px 4px;
    margin: 10px auto;
    text-decoration: none;
    width: 80%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border: 3px solid #f6f6f6;
    border-radius: 5px;
    /* background-color: white; */
}

#list a:hover {
    cursor: pointer;
    box-shadow: 3px 3px 10px #ccc;
    transform: translateX(-1px);
}


/* #list a:nth-child(3n) {
	color: red;
}

#list a:nth-child(3n + 1) {
	color: yellow;
}

#list a:nth-child(2n ) {
	color: blue;
} */


/*

::-webkit-scrollbar{
	display: none;
}

*/


/* ---------scroll show ------ */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(233,187,187);
}

::-webkit-scrollbar-thumb {
    background: rgb(85, 9, 136);
}

::-webkit-scrollbar-thumb:hover {
    background: #a03030;
}


/* ------- scroll show --------- */
/* 
#playlist {
    display: flex;
    position: fixed;
    flex-direction: row;
    gap: 10vw;
    align-items: center;

}

#playlist select  {
    width: 50%; 
}

#playlist input  {
    width: 50%; 
} */


/* @media screen and (max-width: 600px) and (min-width: 220px) {
    #playlist {
        height: 40px;
        width: 100%;
        flex-direction: column;
        top: 55px;
        gap: 5px;
    
    }
    #srh{
        display: none;
    }
    #button {
        position: absolute;
        bottom: 18.5%;
        left: 1%;
    }
    .right,
    .left {
        position: absolute;
        height: 50%;
        width: 100%;
        top: 6%;
    }
    .image {
        position: relative;
        height: 60%;
        top: -15%;
        border-radius: 10px;
    }
    .left .image img {
        border-radius: 10px;
    }
    .left .volume {
        bottom: -80%;
    }
    .right {
        position: absolute;
        height: 40%;
        width: 100%;
        top: 50%;
    }
    .right .show_song_no {
        top: 55%;
        left: 45%;
    }
    .right .show_song_no p:nth-child(2) {
        padding: 0 5px;
    }
    .right #title {
        position: relative;
        top: -60%;
        font-size: 30px;
    }
    .right #artist {
        top: 0;
    }
    .right .middle {
        position: absolute;
        top: 20%;
    }
    .right #auto {
        top: 5%;
    }
    .right .duration {
        bottom: 5%;
    }
    .documentation {
        right: 10%;
    }
    .documentation_page {
        top: 0;
        height: 100%;
    }
    .right .middle button {
        height: 40px;
        width: 40px;
    }
    .right .middle button#play {
        height: 50px;
        width: 50px;
    }
    #list a {
        font-size: 12px;
        padding: 5px 3px;
        margin: 10px auto;
    }
} */

/* @media screen and (max-width: 230px) and (min-width: 150px) {
    .right .middle button {
        height: 25px;
        width: 25px;
    }
    
}

@media screen and (max-height: 500px) and (orientation: landscape) {
    .image {
        top: 15%;
        height: 60%;
    }
    .left .volume {
        bottom: 10%;
    }
    .right .show_song_no {
        top: 90%;
        right: 5%;
    }
    .right .show_song_no p:nth-child(2) {
        padding: 0 5px;
    }
    .right #title {
        position: relative;
        top: -10%;
    }
    .right #artist {
        position: relative;
        top: -5%;
    }
    .right .middle {
        position: relative;
        top: 0;
    }
    .right #auto {
        top: -7%;
    }
    .right .duration {
        bottom: 11%;
        left: 50%;
    }
    .documentation {
        top: 10%;
        right: 9%;
    }
    .documentation_page {
        height: 108%;
    }
    .documentation_body {
        height: 82.5%;
        top: 12.5%;
    }
} */





/* 
NEW STYLING BEIGN HERE */
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}
.volume{
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
/* .image img{
    width: 50%;
    border-radius: 20px;
    filter: brightness(80%);
} */
.left img{
    width: 19em;
    height: 19em;
    margin: 0 auto;
    border-radius: 20px;

}


.Song__name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#title{
    font-size: 38px;
    font-family: "Poppins";
    font-weight: 600;
}
#artist{
    font-size: 25px;
    
    font-family: "Poppins";
}
#logo{
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    cursor: pointer;
}
.duration{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: ;
}

.middle{
    margin-top: 1em;
}
.show_song_no{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    gap: .5em;
}

.documentation_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
button{
    border: none;
    background-color: #87ffff;
    padding: 10px 12px;
    margin: 0 10px;
}
.Button a{
    font-family: "Poppins";
}
.documentation_page{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#playlist{
    position: absolute;
    display: flex;
    gap: 5em;
    top: 1.5em;
}

.volume input{
    width: 60%;
}


@media only screen and (max-width:1000px){
    .main{
        flex-direction: column;
        gap: 10em;
    }
    .documentation_page{
        margin-top: 1.5em;
    }

    #playlist{
        top: 5em;
    }
    
}
