*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
body{
	height: 100vh;
	width: 100%;
	background: repeating-linear-gradient(45deg, rgba(0,0,0,0.1),transparent,rgba(0,0,0,0.04),rgba(0,0,0,0.04),rgba(0,0,0,0.01),rgba(0,0,0,0.02),rgba(0,0,0,0.05),transparent,rgba(0,0,0,0.04),rgba(0,0,0,0.1),rgba(0,0,0,0.03) 3px),linear-gradient(0deg, rgb(85, 159, 230),rgb(230, 105, 196));
	display: flex;
	align-items: center;
	justify-content: center;
}
.main{
	position: relative;
	height: 90%;
	width: 90%;
	box-sizing: border-box;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: repeating-linear-gradient(45deg, rgba(0,0,0,0.1),transparent,rgba(0,0,0,0.04),rgba(0,0,0,0.04),rgba(0,0,0,0.01),rgba(0,0,0,0.02),rgba(0,0,0,0.05),transparent,rgba(0,0,0,0.04),rgba(0,0,0,0.1),rgba(0,0,0,0.03) 3px),linear-gradient(0deg, rgb(230, 105, 196), rgb(85, 159, 230));
	box-shadow: inset -5px -5px 6px #224a61,
            inset 5px 5px 6px #88ffff;
}
.main #logo{
	position: absolute;
	top: 10px;
	left: 30px;
	font-size: 25px;
	color: brown;
	animation: animate 1s infinite linear;
}
@keyframes animate{
	0%{
		filter: hue-rotate(0deg);
	}
	50%{
		filter: hue-rotate(180deg);
	}
	100%{
		filter: hue-rotate(360deg);
	}
}
.main #logo i{
	margin-right: 15px;
}
.main button{
	padding: 10px 12px;
	margin: 0 10px;
}
/* left & right part */
.right, .left{
	position: relative;
	height: 100%;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.image{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 300px;
	width: 60%;
	border-radius: 20px;
	background: #55b9f3;
	box-shadow:  8px 8px 16px #234c64,
             -8px -8px 16px #87ffff;
}
/* song image */
.left .image img{
	height: 100%;
	width: 100%;
	border-radius: 20px;
	box-shadow: 1px 0px 20px 12px rgba(240,240,240,0.2);
}
/* both range slider part */
input[type="range"] {
	-webkit-appearance: none;
	width: 50%;
	outline: none;
	height: 3px;
	margin: 0 15px;
	background: linear-gradient(45deg, rgb(0, 132, 255), rgb(255, 0, 187));
}
input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	background: linear-gradient(90deg, rgb(255, 0, 187), rgb(0, 132, 255));
	border-radius: 50%;
	cursor: pointer;
}
.right input[type=range]{
	width: 40%;
}
/* volume part */
.left .volume{
	position: absolute;
	bottom: 10%;
	left: 0;
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}
.left .volume p{
	font-size: 15px;
}
.left .volume i{
	cursor: pointer;
	padding: 8px 12px;
	border-radius: 5px;
	background: linear-gradient(145deg, #4d8fcf, #5baaf6);
	box-shadow:  5px 5px 10px #4887c4,
             -5px -5px 10px #62b7ff;
}
.volume #volume_show{
	padding: 8px 12px;
	margin: 0 5px 0 0;
	border-radius: 5px;
	background: linear-gradient(145deg, #4d8fcf, #5baaf6);
	box-shadow:  5px 5px 10px #4887c4,
             -5px -5px 10px #62b7ff;
}
.right .show_song_no{
	position: absolute;
	top: 10px;
	right: 20px;
	width: 30px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 12px;
	color: #fff;
}
.right .show_song_no p:nth-child(2){
	margin: 0 3px;
}
.right #title{
	position: absolute;
	top: 175px;
	left: 50%;
	transform: translateX(-50%);
	text-transform: capitalize;
	color: #fff;
	font-size: 35px;
}
.right #artist{
	position: absolute;
	top: 225px;
	left: 50%;
	transform: translateX(-50%);
	text-transform: capitalize;
	color: #fff;
	font-size: 18px;
}
/* right part */
 .right .middle{
 	width: 100%;
    display: flex;
	align-items: center;
	justify-content: center;
}
.right .middle button{
	border: none;
	height: 70px;
	width: 70px;
	border-radius: 50%;	
    display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	outline: none;
}
.right_blue{
	background: linear-gradient(145deg, #4d8fcf, #5baaf6);
	box-shadow:  5px 5px 8px #4887c4,
             -5px -5px 8px #62b7ff;
}
.right_blue:hover{
	background: linear-gradient(145deg, #cf5fb0, #f670d2);
	box-shadow:  5px 5px 8px #c459a7,
             -5px -5px 8px #ff79e1;
}
.right_pink{
	background: linear-gradient(145deg, #cf5fb0, #f670d2);
	box-shadow:  5px 5px 8px #c459a7,
             -5px -5px 8px #ff79e1;
}
.right_pink:hover{
	background: linear-gradient(145deg, #4d8fcf, #5baaf6);
	box-shadow:  5px 5px 8px #4887c4,
             -5px -5px 8px #62b7ff;
}
.right .duration{
	position: absolute;
	bottom: 20%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 20px;
	margin-top: 40px;
}
.right i:before{
	color: #fff;
	font-size: 20px;
}
