*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
body{
	height: 100vh;
	width: 100%;
	background: repeating-linear-gradient(45deg, rgba(0,0,0,0.1),transparent,rgba(0,0,0,0.04),rgba(0,0,0,0.04),rgba(0,0,0,0.01),rgba(0,0,0,0.02),rgba(0,0,0,0.05),transparent,rgba(0,0,0,0.04),rgba(0,0,0,0.1),rgba(0,0,0,0.03) 3px),linear-gradient(0deg, rgb(85, 159, 230),rgb(230, 105, 196));
	display: flex;
	align-items: center;
	justify-content: center;
}
.main{
	position: relative;
	height: 90%;
	width: 90%;
	box-sizing: border-box;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: repeating-linear-gradient(45deg, rgba(0,0,0,0.1),transparent,rgba(0,0,0,0.04),rgba(0,0,0,0.04),rgba(0,0,0,0.01),rgba(0,0,0,0.02),rgba(0,0,0,0.05),transparent,rgba(0,0,0,0.04),rgba(0,0,0,0.1),rgba(0,0,0,0.03) 3px),linear-gradient(0deg, rgb(230, 105, 196), rgb(85, 159, 230));
	box-shadow: inset -5px -5px 6px #224a61,
            inset 5px 5px 6px #88ffff;
}
#logo{
	position: absolute;
	top: 10px;
	left: 30px;
	font-size: 25px;
	color: brown;
	animation: animate 1s infinite linear;
}
@keyframes animate{
	0%{
		filter: hue-rotate(0deg);
	}
	50%{
		filter: hue-rotate(180deg);
	}
	100%{
		filter: hue-rotate(360deg);
	}
}
#logo i{
	margin-right: 15px;
}
button{
	padding: 10px 12px;
	margin: 0 10px;
}
/* left & right part */
.right, .left{
	position: relative;
	height: 100%;
	width: 50%;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.image{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 20%;
	height: 300px;
	width: 60%;
	border-radius: 20px;
	background: #55b9f3;
	box-shadow:  8px 8px 16px #234c64,
             -8px -8px 16px #87ffff;
}
/* song image */
.left .image img{
	height: 100%;
	width: 100%;
	border-radius: 20px;
}
/* both range slider part */
input[type="range"] {
	-webkit-appearance: none;
	width: 50%;
	outline: none;
	height: 3px;
	margin: 0 15px;
	background: linear-gradient(45deg, rgb(0, 132, 255), rgb(255, 0, 187));
}
input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	background: linear-gradient(90deg, rgb(255, 0, 187), rgb(0, 132, 255));
	border-radius: 50%;
	cursor: pointer;
}
.right input[type=range]{
	width: 40%;
}
/* volume part */
.left .volume{
	position: absolute;
	bottom: 20%;
	left: 0;
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}
.left .volume p{
	font-size: 15px;
}
.left .volume i{
	cursor: pointer;
	padding: 8px 12px;
	border-radius: 5px;
	background: linear-gradient(145deg, #4d8fcf, #5baaf6);
	box-shadow:  5px 5px 10px #4887c4,
             -5px -5px 10px #62b7ff;
}
.volume #volume_show{
	padding: 8px 12px;
	margin: 0 5px 0 0;
	border-radius: 5px;
	background: linear-gradient(145deg, #4d8fcf, #5baaf6);
	box-shadow:  5px 5px 10px #4887c4,
             -5px -5px 10px #62b7ff;
}
.right .show_song_no{
	position: absolute;
	top: 95%;
	right: 5%;
	width: 30px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 12px;
	color: #fff;
}
.right .show_song_no p:nth-child(2){
	margin: 0 3px;
}
.right #title{
	position: absolute;
	top: 20%;
	width: 100%;	
	display: inline;
	text-transform: capitalize;
	color: #fff;
	font-size: 35px;
}
.right #artist{
	position: absolute;
	top: 30%;
	left: 50%;		
	width: 100%;
	display: inline;
	transform: translateX(-50%);
	text-transform: capitalize;
	color: #fff;
	font-size: 18px;
}
/* right part */
 .right .middle{
 	width: 100%;
    display: flex;
	align-items: center;
	justify-content: center;
}
.right .middle button{
	border: none;
	height: 70px;
	width: 70px;
	border-radius: 50%;	
    display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	outline: none;
}
.right_blue{
	background: linear-gradient(145deg, #4d8fcf, #5baaf6);
	box-shadow:  5px 5px 8px #4887c4,
             -5px -5px 8px #62b7ff;
}
.right_blue:hover{
	background: linear-gradient(145deg, #cf5fb0, #f670d2);
	box-shadow:  5px 5px 8px #c459a7,
             -5px -5px 8px #ff79e1;
}
.right_pink{
	background: linear-gradient(145deg, #cf5fb0, #f670d2);
	box-shadow:  5px 5px 8px #c459a7,
             -5px -5px 8px #ff79e1;
}
.right_pink:hover{
	background: linear-gradient(145deg, #4d8fcf, #5baaf6);
	box-shadow:  5px 5px 8px #4887c4,
             -5px -5px 8px #62b7ff;
}
.blue{
	background: #55b9f3;
	box-shadow:  8px 8px 16px #234c64,
             -8px -8px 16px #87ffff;
}
.right #auto{
	position: relative;
	font-size: 18px;
	cursor: pointer;
	margin-top: 45px;
	border: none;
	padding: 10px 14px;
	color: #fff;
	outline: none;
	border-radius: 10px;
}
.right .duration{
	position: absolute;
	bottom: 20%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 20px;
	margin-top: 40px;
}
.right i:before{
	color: #fff;
	font-size: 20px;
}
.documentation{
	position: absolute;
	top: 8%;
	right: 7%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
.hide_show{
	position: absolute;
	font-size: 25px;
	border: none;
	background: transparent;
	cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
}

.documentation_page{
	position: absolute;
	height: 90%;
	width: 90%;
	box-sizing: border-box;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: repeating-linear-gradient(45deg, rgba(0,0,0,0.1),transparent,rgba(0,0,0,0.04),rgba(0,0,0,0.04),rgba(0,0,0,0.01),rgba(0,0,0,0.02),rgba(0,0,0,0.05),transparent,rgba(0,0,0,0.04),rgba(0,0,0,0.1),rgba(0,0,0,0.03) 3px),linear-gradient(0deg, rgb(230, 105, 196), rgb(85, 159, 230));
	box-shadow: inset -5px -5px 6px #224a61,
            inset 5px 5px 6px #88ffff;
}

.documentation_body{
	position: absolute;
	box-sizing: border-box;
	height: 90%;
	width: 100%;
	box-sizing: border-box;
	top: 7.5%;
	padding: 20px;
	overflow: scroll;
}

::-webkit-scrollbar{
	display: none;
}

.documentation_body h1{
	font-size: 3em;
	text-align: center;
	color: navajowhite;
}
.documentation_body h2{
	font-size: 1.25em;
}

.documentation_body h2 ol{
	margin: 0 50px;
}

.documentation_body h2 ol a:nth-child(1), .documentation_body h2 ol a:nth-child(6), .documentation_body h2 ol a:nth-child(11), .documentation_body h2 ol a:nth-child(16){
	color: rgb(127, 35, 240);
}
.documentation_body h2 ol a:nth-child(2), .documentation_body h2 ol a:nth-child(7), .documentation_body h2 ol a:nth-child(12), .documentation_body h2 ol a:nth-child(17){
	color: rgb(131, 224, 255);
}
.documentation_body h2 ol a:nth-child(3), .documentation_body h2 ol a:nth-child(8), .documentation_body h2 ol a:nth-child(13), .documentation_body h2 ol a:nth-child(18){
	color: rgb(23, 92, 219);
}
.documentation_body h2 ol a:nth-child(4), .documentation_body h2 ol a:nth-child(9), .documentation_body h2 ol a:nth-child(14), .documentation_body h2 ol a:nth-child(19){
	color: rgb(254, 228, 64);
}
.documentation_body h2 ol a:nth-child(5), .documentation_body h2 ol a:nth-child(10), .documentation_body h2 ol a:nth-child(15), .documentation_body h2 ol a:nth-child(20){
	color: rgb(0, 245, 212);
}

@media screen and (max-width: 600px) and (min-width: 300px){
	.right, .left{
		position: absolute;
		height: 50%;
		width: 100%;
		top: 6%;
	}
	.image{
		position: relative;
		height: 60%;
		top: -15%;
		border-radius: 10px;
	}
	/* song image */
	.left .image img{
		border-radius: 10px;
	}
	.left .volume{
		bottom: -80%;
	}
	.right{
		position: absolute;
		height: 40%;
		width: 100%;
		top: 50%;
	}
	.right .show_song_no{
		top: 50%;
		left: 45%;
	}
	.right .show_song_no p:nth-child(2){
		margin: 0 2px;
	}
	.right #title{
		position: relative;
		top: -45%;
		font-size: 30px;
	}
	.right #artist{
		top: 0;
	}
	/* right part */
	.right .middle{
		position: absolute;
		top: 20%;
   	}
   	.right #auto{
		top: 5%;
	}
	.right .duration{
		bottom: 5%;
	}
	.documentation{
		right: 15%;
	}
	.documentation_page{
		height: 98.28%;
	}
	.documentation_body h1{
		font-size: 2em;
	}
	.documentation_body h2{
		font-size: 1em;
	}
	.documentation_body h2 ol{
		margin: 0 30px;
	}
}

@media screen and (max-height: 500px) and (orientation: landscape){
	.image{
		top: 15%;
		height: 60%;
	}
	.left .volume{
		bottom: 10%;
	}
	.right .show_song_no{
		top: 90%;
		right: 5%;
	}
	.right .show_song_no p:nth-child(2){
		margin: 0 2px;
	}
	.right #title{
		position: relative;
		top: -10%;
	}
	.right #artist{
		position: relative;
		top: -5%;
	}
	/* right part */
	.right .middle{
		position: relative;
		top: 0;
    }
   	.right #auto{
		top: -7%;
	}
	.right .duration{
		bottom: 11%;
		left: 50%;
	}
	.documentation{
		top: 10%;
		right: 9%;
	}
	.documentation_page{
		height: 108%;
	}
	.documentation_body{
		height: 82.5%;
		top: 12.5%;
	}
	.documentation_body h1{
		font-size: 2em;
	}
	.documentation_body h2{
		font-size: 1em;
	}
	.documentation_body h2 ol{
		margin: 0 35px;
	}
}


a {
	text-decoration: none;
	
}

a:hover{
	text-decoration: underline;
	cursor: pointer;
}
